### Optional Requirements ###
mpi4py
deap
psutil
matplotlib
ipython
notebook
msgpack
cython
cvxopt
cvxpy
seaborn
packaging
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
