### Optional Requirements ###
mpi4py
deap
psutil
matplotlib
ipython
notebook
msgpack
cython
cvxopt
cvxpy
seaborn
packaging
jupyter-server>=2.18.0 # not directly required, pinned by Snyk to avoid a vulnerability
